@charset "utf-8";

#name {
    text-align: center
}
#name p {
    color: gray;
}

body {
    background-color: aliceblue;
}


main {
    display: grid;
    grid: repeat(2,13rem) / repeat(2,25rem);
    gap: 1.5rem;
    margin: 2rem 0;
    justify-content: center;
    align-content: center;
}


#selfIntro {
    background-clip: padding-box;
    border: none;
    border-radius: 10px;
    background-color: white;
}

#selfIntro h3,p {
    margin-left: 50px;
}

main .call {
    border: none;
    border-radius: 10px;
    background-color: white;
    padding-left: 50px;
}

#hobit {
    border: none;
    border-radius: 10px;
    background-color: white;
    padding-left: 50px;
}

 #link {
    border: none;
    border-radius: 10px;
    background-color: white;
    padding-left: 50px;
}

#last{
    color: gray;
    text-align: center;
 }
 